telemetry model-driven
 sensor-group JTIMON_ALL
  sensor-path openconfig-bgp:bgp
  sensor-path openconfig-rib-bgp:bgp-rib
  sensor-path openconfig-platform:components
  sensor-path openconfig-interfaces:interfaces
  sensor-path openconfig-interfaces:interfaces/interface
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics
  sensor-path openconfig-interfaces:interfaces/interface/subinterfaces/subinterface
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
 !
 subscription SUB_JTIMON_ALL
  sensor-group-id JTIMON_ALL sample-interval 10000
 !
!
